# OS X
/node_modules
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
yar.lock
# Linux
.directory
*~


# npm
node_modules
package-lock.json
*.log
*.gz
yarn.lock

# Coveralls
coverage

# Benchmarking
benchmarks/graphs